<section class="home">
    <span class="separator"></span>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Quem Somos</h3>
                    <span class="down-arrow"></span>
                </div>
            </div>
            <div class="row description">
                <div class="col-lg-3">
                    <p>Você, uma família, uma casa, um bairro, uma cidade, um país, um mundo.</p>
                    <p>O outro, outra família, outra casa, bairro, cidade país, um mundo</p>
                    <p>O que há em comum? O que você quer que seja comum?</p>
                    <p>Aquilo que eu tenho que não uso mais. Aquele tempo que me sobra ou que disperdiço. Aquilo que eu sei e posso ensinar.</p>
                </div>
                <div class="col-lg-6">
                    <span class="water-mark"></span>
                </div>
                <div class="col-lg-3">
                    <p>Aquilo que eu faço e posso ajudar.  Uma ideia para melhorar.  Unir forças! Cada demanda uma oportunidade... de mudança!</p>
                    <p>Comida, brinquedo, fralda, produtos de higiene, materiais para construção... Meu tempo como profissional, como artista, como companhia...</p>
                    <p>Então... Qual é o seu bem em comum?</p>
                    <p><a href="/help">Descubra aqui</a> como ajudar ou pedir ajuda.</p>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section id="help">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Quero Ajudar</h3>
                    <span class="down-arrow"></span>
                </div>
            </div>
            <div class="row">
                <form id="form-help">
                    <div class="form-group">
                        <label for="donationType">Tipo de Doação</label>
                        <input type="text" class="form-control" id="donationType" placeholder="Ex: Alimento, Objetos, Ajuda...">
                    </div>
                    <div class="form-group">
                        <label for="institutionNameDonation">Instituição</label>
                        <input type="text" class="form-control" id="institutionNameDonation" placeholder="Ex: Casa da Boa Esperança, AACD...">
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-xs-8">
                            <label for="zipCode">CEP</label>
                            <input type="text" class="form-control" id="zipCode" placeholder="00000-000">
                        </div>
                        <div class="col-lg-2 col-xs-4">
                            <button type="submit" class="btn btn-default horizontal">Buscar</button>
                        </div>
                    </div>
                </form>
                <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
    </section>
    <hr />
    <section id="register" class="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Cadastre-se</h3>
                    <span class="down-arrow"></span>
                </div>
            </div>
            <div class="row" ng-show="secondStep == false">
                <form name="formDonor" ng-submit="submit(formDonor.$valid)" novalidate>
                    <div class="form-group" 
                         ng-class="{ 
                            'has-error': formDonor.name.$invalid && (formDonor.name.$touched || submitted),
                            'has-success': !formDonor.name.$invalid && !formDonor.name.$pristine }">
                        <label class="control-label" for="name">Nome</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Seu nome" ng-minlength="5" ng-maxlength="255" ng-model="donor.name" required>
                        <i class="fa" ng-class="{ 'fa-thumbs-up': formDonor.name.$valid, 'fa-thumbs-down': formDonor.name.$invalid }"></i>
                        <div class="help-block" ng-messages="formDonor.name.$error" ng-show="formDonor.name.$touched">
                            <div ng-messages-include="../app/shared/_messages.html"></div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{
                            'has-error': formDonor.email.$invalid && (formDonor.email.$touched || submitted),
                            'has-success': !formDonor.email.$invalid && !formDonor.email.$pristine }">
                        <label class="control-label" for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="voce@provedor.com.br" ng-minlength="10" ng-maxlength="255" ng-model="donor.email" required>
                        <i class="fa" ng-class="{ 'fa-thumbs-up': formDonor.email.$valid, 'fa-thumbs-down': formDonor.email.$invalid }"></i>
                        <div class="help-block" ng-messages="formDonor.email.$error" ng-show="formDonor.email.$touched">
                            <div ng-messages-include="../app/shared/_messages.html"></div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{
                            'has-error': formDonor.password.$invalid && (formDonor.password.$touched || submitted),
                            'has-success': !formDonor.password.$invalid && !formDonor.password.$pristine }">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" autocomplete="off" class="form-control" id="password" name="password" ng-minlength="5" ng-maxlength="20" ng-model="donor.password" required>
                        <i class="fa" ng-class="{ 'fa-thumbs-up': formDonor.password.$valid, 'fa-thumbs-down': formDonor.password.$invalid }"></i>
                        <div class="help-block" ng-messages="formDonor.password.$error" ng-show="formDonor.password.$touched">
                            <div ng-messages-include="../app/shared/_messages.html"></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Enviar</button>
                </form>
            </div>
            <div class="row" ng-show="secondStep == true">
                <form id="form-address">
                    <div class="row">
                        <div class="col-lg-4 col-xs-4">
                            <label for="zipCodeDonor">CEP:</label>
                            <input type="text" class="form-control" id="zipCodeDonor" placeholder="00000-000" maxlength="9" ng-model="donor.address.zipcode">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-xs-4">
                            <label for="phone">Telefone/Celular</label>
                            <input type="text" class="form-control" id="phone" placeholder="(00) 90000-0000" maxlength="18" ng-model="donor.phone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-xs-4">
                            <label for="street">Endereço:</label>
                            <input type="text" class="form-control" id="street" placeholder="Rua...Av..." maxlength="100" ng-model="donor.address.street">
                        </div>
                        <div class="col-lg-4 col-xs-4">
                            <label for="number">Number:</label>
                            <input type="text" class="form-control" id="number" placeholder="00000" maxlength="10" ng-model="donor.address.number">
                        </div>
                        <div class="col-lg-4 col-xs-4">
                            <label for="district">Bairro:</label>
                            <input type="text" class="form-control" id="district" placeholder="Vila...Jardim..." maxlength="100" ng-model="donor.address.distrct">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-xs-4">
                            <label for="city">Cidade:</label>
                            <input type="text" class="form-control" id="city" placeholder="Guarulhos...Osasco..." maxlength="100" ng-model="donor.address.city">
                        </div>
                        <div class="col-lg-4 col-xs-4">
                            <label for="state">Estado:</label>
                            <select id="state" class="form-control" ng-model="donor.address.state">
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AM">AM</option>
                                <option value="AP">AP</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MG">MG</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="PR">PR</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="RS">RS</option>
                                <option value="SC">SC</option>
                                <option value="SE">SE</option>
                                <option selected="selected" value="SP">SP</option>
                                <option value="TO">TO</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-xs-4">
                            <label for="complement">Complemento:</label>
                            <input type="text" class="form-control" id="complement" placeholder="Apt 33A..." ng-model="donor.address.complement">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary">Faço depois ok?</button>
                    <button type="button" class="btn btn-default">Enviar</button>
                </form>
            </div>
        </div>
    </section>
    <hr />
    <section id="institutions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Instituições</h3>
                    <span class="down-arrow"></span>
                </div>
            </div>
            <div class="row">
                <form id="form-help">
                    <div class="form-group">
                        <label for="institutionName">Nome</label>
                        <input type="text" class="form-control" id="institutionName" placeholder="Ex: Casa da Boa Esperança, AACD...">
                    </div>
                    <div class="form-group">
                        <label for="operation">Atuação</label>
                        <input type="text" class="form-control" id="operation" placeholder="Crianças, Jovens...">
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-xs-8">
                            <label for="institutionZipCode">CEP</label>
                            <input type="text" class="form-control" id="institutionZipCode" placeholder="00000-000">
                        </div>
                        <div class="col-lg-2 col-xs-4">
                            <button type="submit" class="btn btn-default horizontal">Buscar</button>
                        </div>
                    </div>
                </form>
                <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p class="register-you"><a href="/register/">Cadastre sua instituição</a></p>
            </div>
        </div>
    </section>
</section>